{% extends 'layout.twig' %}
{% block content %}
    <h4>Settings</h4>
    <form action="/settings/import" method="POST" enctype="multipart/form-data">
        <fieldset>
            <legend>Import Google Reader datas</legend>
            <input type="file"
                   name="reader"
                   id="reader" accept="text/xml" required="true">
            <input class="btn" type="submit" value="Import">
        </fieldset>
    </form>
    <h5>Refresh feeds</h5>
    <form action="/feeds/refresh">
        <input type="submit" class="btn" value="Click here to refresh feeds">
    </form>
{% endblock %}