<!DOCTYPE html>
<html>
<head>
    <meta encoding="utf-8"/>
    <title>{% block title %}FeddPress | A NodeJS Rss Reader {% endblock %}</title>
    <link rel='stylesheet' href='/vendor/bootstrap/css/bootstrap.min.css'/>
    <link rel='stylesheet' href='/vendor/bootstrap/css/bootstrap-responsive.min.css'/>
    <link rel='stylesheet' href='/stylesheets/style.less'/>
    <link href='http://fonts.googleapis.com/css?family=Cantarell:400,700' rel='stylesheet' type='text/css'>

</head>
<body>
{% block header %}
    <div class="navbar navbar-inverse">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="/">Feedpress</a>
                <ul class="nav pull-right">
                    <li><a href="/settings">Settings</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
<div class="container">
    {% block content %}
    {% endblock %}
</div>
{% block footer %}
{% endblock %}
</body>
</html>