<!DOCTYPE html>
<html>
<head>
    <meta encoding="utf-8"/>
    <title>{% block title %}Express | page title{% endblock %}</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1>
    {% block header %}
        Expressjs with Swig
    {% endblock %}
</h1>
<div class="container">
    {% block content %}
    {% endblock %}
</div>
{% block footer %}
{% endblock %}
</body>
</html>