{% extends 'layout.twig' %}
{% block content %}
<p>
    users online : {{ online.length }} users online !<br>
</p>
<p>
    user agents
    <ul>
    {% for user_agent in online %}
    <li>{{ user_agent }}</li>
    {% endfor %}
    </ul>
</p>
{% endblock %}