@container-margin: auto;
@container-width: 960px;
ul {
  list-style: none;
}

body {
  padding: 50px;
  font: 100% "Helvetica Neue", "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
  margin: @container-margin;
  width: @container-width;
}

.container {
  margin: @container-margin;
  width: @container-width;
}

a {
  color: #00B7FF;
}

label {
  display: block;
}

input{
  display: block;
}