{% extends 'layout.twig' %}
{% block header %}
Express Contact Form
{% endblock %}
{% block content %}
    <form enctype="application/x-www-form-urlencoded" action="/home/contact" method="POST">
        <fieldset>
            <legend>Please fill the contact form</legend>
            <label for="name">Name:</label>
            <input type="text" name="name" id="name"/>
            <label for="message">Message :</label>
            <textarea name="message" id="message" cols="30" rows="10"></textarea>
            <input type="submit" value="Submit">
            <input type="reset" value="Reset">
        </fieldset>
    </form>


{% endblock %}