{% extends 'layout.twig' %}
{% block header %}
    Create a new user
{% endblock %}
{% block content %}
    <form name="user" action="/users/new" method="POST">
        <fieldset>
            <legend>Create A new user</legend>
            <label for="name">Name: </label>
            <input required type="text" name="name" id="name"/>
            <label for="email">Email: </label>
            <input required type="email" name="email" id="email"/>
            <label for="age">Age: </label>
            <input required type="number" name="age" id="age"/>
            <input type="submit" value="Submit">
            <input type="reset" value="Reset">
        </fieldset>
    </form>
{% endblock %}